
@model IEnumerable<Request>
@{
    ViewData["Title"] = "Home Page";
}


    

<div class="card-deck">
        @foreach (var request in Model)
        {
    <div class="m-0 col-sm-12 col-md-4">
        @*<div class="card-header">
            <h1>@request.RequestName</h1>
        </div>*@

        <div class="card-body text-center m-0">
            <ul class="list-group">
                <li class="list-group-item bg-light"><h4>Naziv zahteva: @request.RequestName</h4></li>
                <li class="list-group-item">Sektor : @request.Department</li>
                <li class="list-group-item">Status: @request.Status</li>
                <li class="list-group-item">Datum unosa: @request.DateAccepted</li>
                <li class="list-group-item">
                    <a asp-action="RequestDetails" asp-controller="Home" asp-route-id="@request.Id" class="btn btn-primary">Pregledaj</a>
                    <a asp-action="edit" asp-controller="Home" asp-route-id="@request.Id" class="btn btn-primary">Izmeni</a>
                    <a asp-action="Delete" asp-controller="Home" asp-route-id="@request.Id" class="btn btn-danger" >Izbriši</a>
                </li>
            </ul>
        </div>

    </div>
        }
</div>
